doctype html
html(lang="es")
  head

    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title #{title}
    include _styles

  body
    div(class="menu")
      .container
        .row
            div(class="logo")

            div(class="menu-items")
              ul
                each item in [{li:"Doc", hrf:"https://api-rest-dj.readthedocs.io/es/latest/"}, {li:"Desoft", hrf:"#"}, {li:"GitHub", hrf:"https://github.com/randy930529/api-rest-dj"}]
                  a(href=`${item.hrf}`)
                    li= item.li

    div(class="header")
        .container
            div(class="logo")
                span
                  svg(width='400', height='400', viewBox='0 0 27940 21590' style="max-width: 100%; max-height: 100%;")
                    path (d="M15058.03 8798.86c68.72,-66.33 162.07,-107.27 264.54,-107.27 628.57,0 1257.15,0 1885.72,0 209.84,0 381.51,171.67 381.51,381.51 0,1949.95 0,3899.9 0,5849.85 0,209.84 -171.67,381.51 -381.51,381.51 -252.05,0 -504.11,0 -756.16,0 -60.07,8.36 -121.43,12.68 -183.8,12.68 -62.18,0 -122.98,-4.32 -182.23,-12.68 -254.51,0 -509.02,0 -763.53,0 -209.84,0 -381.51,-171.67 -381.51,-381.51l0 -1043.08 259.8 -60.4c761.22,-203.68 1335.77,-526.25 1827.29,-901.56 -407.5,-789.92 -865.28,-1667.86 -1272.77,-2457.77 -478.52,408.63 -1281.06,799.63 -1858.25,1011.51 -687.58,252.42 -1464.09,407.41 -1972.52,134.3 79.49,151.38 158.98,302.83 238.46,454.21 238.94,-105.87 538.88,-134.89 840.89,-61.14 618.7,150.26 1007.38,737.08 905.04,1158.85 -102.35,421.77 -491.42,633.81 -904.24,684.45 -1.95,25.54 -3.88,51.1 -5.81,76.65 0,334.66 0,669.32 0,1003.98 0,209.84 -171.67,381.51 -381.51,381.51 -254.51,0 -509.01,0 -763.52,0 -59.25,8.36 -120.06,12.68 -182.24,12.68 -62.37,0 -123.74,-4.32 -183.81,-12.68 -252.05,0 -504.1,0 -756.15,0 -209.84,0 -381.51,-171.67 -381.51,-381.51 0,-1949.95 0,-3899.9 0,-5849.85 0,-209.84 171.67,-381.51 381.51,-381.51 628.57,0 1257.15,0 1885.72,0 139.2,0 261.58,75.56 328.22,187.68l2.95 -3.17 207.56 361.03 -157.22 125.71 0 11.36c-342.24,228.55 -711.64,526.29 -936.59,833.65 -472.35,645.42 -449.85,1368.04 534.69,1347.82 126.97,-2.6 262.36,-17.13 401.9,-40.7 266.24,-44.98 547.6,-122.99 814.32,-214.37 141.54,-246.77 306.97,-447.41 512.83,-569.54l-351 -643.76 1080.72 -1294.96 2.21 6.52zm-2109.02 3927.67c-87.4,-29.6 -145.93,-53.36 -175.79,-71.49 -168.21,-101.79 -68.34,-305.17 337.54,-127.6 -32.22,-75.3 -64.44,-150.6 -96.65,-225.91 -94.74,-18.92 -154.72,-31.99 -254.66,-30.95 -26.53,-58.51 -53.06,-117 -79.59,-175.5 -53.87,6.56 -107.74,13.13 -161.61,19.69 27.05,57.39 54.1,114.8 81.15,172.19 -381.12,67.56 -244.65,507.6 163.83,667.24 114.1,43.92 233.24,74.11 339.39,137.37 164.79,98.21 119.82,242.6 -153.61,182.77 -111.44,-24.32 -229.33,-74.51 -291.53,-107.56 54.63,71.29 109.25,142.58 163.88,213.88 42.93,13.32 85.47,24.41 127.65,33.27 65.24,13.7 129.63,22.04 193.31,24.99 24.55,52.08 49.1,104.16 73.66,156.24 48.85,1.75 97.7,3.5 146.56,5.25 -23.95,-52.83 -47.91,-105.66 -71.86,-158.49 314.09,-46.7 272.97,-327.41 87.37,-505.6 -112.11,-107.62 -261.58,-153.22 -429.04,-209.79z")
                    path (d="M12998.95 13847.47c315.45,201.22 630.88,402.41 946.33,603.63 331.93,-190.45 663.85,-380.9 995.78,-571.35 -529.44,66.27 -1107.97,100.26 -1942.11,-32.28z")
            div(class="info")
                h3 ¡Bienvenido a la API DJ! , #[br] CA-MyGestor.
                p API-REST-DJ es un api para TCP y tenedores de libro #[br]
                    | Gestiona los ingresos y gastos, #[br]
                    | controla el uso a través de licencias de uso.
                a(href="https://api-rest-dj.readthedocs.io/es/latest/usage.html", class="btn") Empezar

    div(class="features")
      .container
        .row
          div(class="logo-github")
            span
              svg(width='100', height='100', viewBox='0 0 16 16')
                path(d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.49-.94-.84-1.13-.29-.15-.71-.52-.01-.53.66-.01 1.13.61 1.29.86.76 1.28 1.97.92 2.45.7.07-.55.29-.92.53-1.13-1.86-.21-3.82-.93-3.82-4.12 0-.91.32-1.65.86-2.23-.09-.21-.37-1.05.08-2.19 0 0 .69-.22 2.27.85A7.72 7.72 0 0 1 8 4.77c.68 0 1.37-.09 2.03-.27 1.58-1.07 2.27-.85 2.27-.85.45 1.14.17 1.98.08 2.19.54.58.86 1.32.86 2.23 0 3.2-1.96 3.91-3.83 4.11.3.26.57.77.57 1.55 0 1.12-.01 2.03-.01 2.31 0 .21.14.46.55.38A8.03 8.03 0 0 0 16 8c0-4.42-3.58-8-8-8z')

          div(class="logo-doc")
            span
              svg(width='100', height='100', viewBox='0 0 16 16')
                path(fill-rule="evenodd", clip-rule="evenodd", d="M6.27103 2.11151C5.46135 2.21816 5.03258 2.41324 4.72718 2.71244C4.42179 3.01165 4.22268 3.43172 4.11382 4.225C4.00176 5.04159 4 6.12387 4 7.67568V16.2442C4.38867 15.9781 4.82674 15.7756 5.29899 15.6517C5.82716 15.513 6.44305 15.5132 7.34563 15.5135L20 15.5135V7.67568C20 6.12387 19.9982 5.04159 19.8862 4.22499C19.7773 3.43172 19.5782 3.01165 19.2728 2.71244C18.9674 2.41324 18.5387 2.21816 17.729 2.11151C16.8955 2.00172 15.7908 2 14.2069 2H9.7931C8.2092 2 7.10452 2.00172 6.27103 2.11151ZM6.75862 6.59459C6.75862 6.1468 7.12914 5.78378 7.58621 5.78378H16.4138C16.8709 5.78378 17.2414 6.1468 17.2414 6.59459C17.2414 7.04239 16.8709 7.40541 16.4138 7.40541H7.58621C7.12914 7.40541 6.75862 7.04239 6.75862 6.59459ZM7.58621 9.56757C7.12914 9.56757 6.75862 9.93058 6.75862 10.3784C6.75862 10.8262 7.12914 11.1892 7.58621 11.1892H13.1034C13.5605 11.1892 13.931 10.8262 13.931 10.3784C13.931 9.93058 13.5605 9.56757 13.1034 9.56757H7.58621Z")