extends ../generic/base

block stylesheet
    style.
        table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 487pt;
      }

block content
    -const tableWidth = 649
    -const months = ["ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO", "AGOSTO", "SEPTIEMBRE", "OCTUBRE", "NOVIEMBRE", "DICIEMBRE"]
    
    each month, index in months
        -let data = dataMonths[index]
        include tableIncomeReportMonth
        span.page-next
    
    -const data = totalMonths
    include tableIncomeReportTI