extends ../base

block content
  h1(style="font-size: 25px;font-family: Calibri, sans-serif;font-weight: 700;font-style: italic;") Confirmación de Verificación de Pago
  p Estimado/a #{emailUser},
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          p Le escribimos para confirmar que hemos recibido su pago de $#{montoPago} realizado el #{fechaPago}. Agradecemos su puntualidad y confianza en nuestros servicios.
          p Lamentamos cualquier inconveniente o demora que haya podido experimentar durante este proceso. Su satisfaccín es muy importante para nosotros y estamos aquí para ayudarle en lo que necesite.
          p Si tiene alguna pregunta o requiere asistencia adicional, no dude en ponerse en contacto con nosotros.
          p Gracias por su comprensión.  
  p Atentamente,
  p Equipo CA-MyGestor
  p Administrador
  p CONALBERT S.R.L.
  p +5359880105 / conalbert@nauta.cu
  p ¡Buena suerte! Equipo CA-MyGestor.