doctype html
html(
    xmlns:v="urn:schemas-microsoft-com:vml" 
    xmlns:o="urn:schemas-microsoft-com:office:office" 
    xmlns:x="urn:schemas-microsoft-com:office:excel"
    lang="es"
)
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        title #{title}
        include _styles

        block stylesheet

    body(link="blue" vlink="purple")
        block content