svg(x="0px" y="0px" alt="Logo APK" width="76" height="56" style="aspect-ratio: 16/9;" viewBox="0 0 76 56")
    image(
        width="76" 
        height="56" 
        x="0" 
        y="0" 
        href=`data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAAA4CAYAAABXJB78AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAA
        CXBIWXMAAA7EAAAOxAGVKw4bAAAajklEQVR42s2beZBfV3XnP+fe935b75vU3Wrt+2JL3sFgYxts
        ZGOIFzDbJAwzU5M48UBNTaoSUlNDpSY1mSwURUIgzAQogh0WB9tgbMDgNdjClrAt2ZYsydrVUqtb
        rd67f7/33r1n/rjv12qZkMyUWgO36if9uvv93u/e7z33nO/5nvNEVZXzGJq/BBD1qGSoWrwqmXiK
        FBD5xQ85CdcbFcIFiooCBqnfEMUjOBSLIN7jvWKMRcycCeT3V3XhRfijEUHEnL1gHkZ0vmAJGhaY
        L9wjeAxGhZKBSZ3m0MwBxpNxIi3SVepgaakXSxGnDmcUqwVAkHP2rr4VYBCMAnhMZEnIGJw5zqna
        ABmOxqiZvoZFtEob4iEzCqLgbQBr/vA6f8BAEQQVcCIYIiIviIVXJnby9aP3sWtiF6mrgRpapYXr
        uq7mrqUfZGFxMYmmGHGADUDnm1C/u3gwKB6HMXAqHeAfD3+fpwceZ1wGSI0j9k1cXFnHHSvv4LKW
        q7GZRW2am70nfzMvgMn5HEmP5lMRHB6PIfaAUZ4deZq/eOVz7DN7iGILEoVdzzKoWa5tvIb/svH3
        WV5aEWCXOvhn7w4C3oAqWDiUHOcLO/+Wn4w9RtI4gY1jPIJ6RWccy9OV3HPxJ7m5612QOTAGb85u
        w3wMcz4fDn5LwCuiDus8AAdmDvBX+77E3mgvlWIjxahA0VqKpkhcKiHN8OTU03xx/+cZcqfOvZcG
        4MK/JrwTYUqr3PvGfTw29QjSNkNDoUxRy0SmQMXGNDUUOV46wv/a/Tl2Tr0I1qLBYdR341cPGPlR
        RBTUYlBSk/K9Yz/gleR1okoRQ0Q4+bmPUosxMTQoT536KS8NvDTr4ANq+QLVIKo4o6hRfnT8YR4Z
        fADfnGFMEa8RBkekLp+HQSox+9nPQ8cepkYtt34zrz7svC0sX2rYSWs5lQyy48x2TOwpZAZnM7zx
        qAheDFY96mrEkyVu6t7KRR0X5/fwgAMgk3AgQYkQXh7fxVcOf43p8jRFLYGPkPzIWmdBBSeKqEFK
        hpfO7KS/ejz4+/PiAPMMGLOTEUTCEo9P9NNfO4q1gkVQHGgAQxS8OuxEzPu7b+c/b/okPeXe3LjO
        moGFsFIxjPhhvrz/KxyUI8QFwZBh1KGiZNbhbLBy8YJVxUYxp/0ghyYOnQ2Q8wjaeR5JRVEQqXsb
        Jv0UVTOJWCEzYL0SZ/kxkwQ3LVzf9h7uXvM7dEgHiXe5iRrI+Zu6BOOFFMd9B/+eZ6eeoFwqgLe4
        3Cd5H+EwQIr1PgAjiqglkYTJZOrsNPPN/NUDNrt9Z9mjEYMxBuM1928Gh0XVUEsT1pU38NvrPk6H
        dOEdwWeZ/D6ieBQvgBF+NPhj/uHk/WQVhxWL1RIqlsSkgMc6i2JxxuONQ8UjRIhGxBLnk/TMp4md
        t9MPjtXNAiYo4g1GIfIeJ4bMCl6VctLMXYvvZHVxFc5noFBwJtipeJRwHCNT4NWx1/jqvr9juDBO
        ZMshO4gSEmq41GHJMJJhvEXU5uTZBCsjj7iAzjPTP0/A5vie+gTJQtCcBRMET+pqXFzZyLVd186e
        QCSkQz7ncKKSk1bh5MxJhrPjNNoI6yIy40lqVXomFvL+zg+wyPeRuCqiYHyUQ23wkoJkwXfOQnXe
        y5w/wAJQds7PJkRMUZwEHiSq2EzY3HYRHbY98FA1iHh8zsQFAXXUI2V3Wy/Nja14TUBrZJMZK5J1
        fHLlJ/jDVb/POxpvwCcGZ1LUOFRB1aOEaHmhxrzcWc8x+Tr3r5MNBTKafANrmzeEr/R55PQG8Ta4
        GZ8Rko6YoWyI+/d+k4HaEKnPYNpyQ8MN/Lctf8Stfe+hSIUbFl1DN11UNcWLx3gfkncNQUHmk3zN
        GeeVS/7LIHqsCoohFcGJpTabhclseifqw8sYMGH/Hjz+AN8d+C4mSlln1vHeFR/g1kW30mHawIFa
        ZU3LWq5ouYoHJ76PK1tiAVF3oZZz4QHzEoFEwS8ZmDKjPDfwJO9YcBVNtnXOlUJIrxOG/TDbT73A
        g/seoK/Uy3u738tNfVtZVlkRjoILNMZrRlmaubHnZn42/DPOFMbxWgDj5pVz/f8DTBVRQY1HVDC+
        gJYMz4w8TXlnma1Lb6al2ILgqboZTk0Psav/VY5PHKYqKe/pu5Ubl97IqoZVWCKcV/BBOlKbYfIE
        //K2y7i88WJ+mDyGL5oLjdWFA0wFjIJ4xYtDXBGLoVrOOKrH+Mfd36GazhB5QUWROKa92MmNK25m
        U+fFLCr1YQDVDC8ZxthwnQoiUWAPCE22kbf2XctT+5+hKgmW6AJ5rgsMGIATT0SE9UpmaoBHJiPW
        dq7lrovuZKw2zqSr0RA30FtaSDutGHKy6cGLYjQA4AREPEY8qA1+PScuV3a8lTWHN/JS8iK2EF1w
        K7sggAkSmDeGgotwxpNEEBWEHQM76G5oZ3RkmppPmNIxNrVv4prO6+iKF+A0wxrBqMkTCJ9HvFwX
        myXJAqosihfxru4b2HPsFSQOkpCzLpe7OSsXya+BHvbLh86SVi+CyXV6KcIROcRn9v4N3zz6bQqN
        BYaqY3z+5S/wX3f8IdsmXsBIlOeVwQeCz4lw2AokUAZRweU54vXdN7DcrqKaVYNArsECYZZlzNu4
        IICpgvUWUUPNKpn1xHgMKdVCho88W5dez4d67+Jjaz7OFauu4NnpZ/jrXZ/hwNRBECEhQ+WsNdWT
        66CTBVqiKJkqS0rLeXvX9WimePGIj2ePplfwv06p0b8IHARnjWK9wajBm6AobOzYTFnLPPTzb/PS
        0G6i5kZ2pS9z78F7mdEaVgw+z+tldqJ5gp4Ls8YbvKYIcE3PNfTpUjLnceZsymYB++uTfP+SIeDF
        B8ftwXoDRKjGxD7CG/ju0cfo19N89PJ/y9YFN7LILUIjeGHsOfZP7sWKQXzQ7M+qgHJ26bmGFgE4
        z+bG9VzXcw2kgp8jBsx32LxgFuYlUAab+zOPATFYNRRj2DnzPH+2639ydPoo/2HVR/mTTf+d9cXL
        OTk9zKEzB4C6kGhmFaS6ZzyrP+SFEmOokRBHQgGDeBesE85JwX99AVOwXsKRycXk4HEcTjK8EWzB
        syd9kb/e8xn+8vm/YmVpPb/RtxVJHbEp5KC7WdEoIBa0rWBBikioDxzPjvO517/Iw0d+iMRgjZlj
        YPNLNM6fVtRPTF3lye1prpie17VRyUVFDYWNQtzIZQuuYF15PeOMMDIxyIrCMtZ2rSFIiRoKuLkE
        5HLlI1IDRkipsW34eb71xjfYPv0iSWMNrM2/M2yT0fk9mucN2FmsZhsGEBTNI9k5Oobm+rsaDEUm
        s2meG3ietM0x4yZ49sBz3Ln+DpaVluN8qHj7vLJu1GJyFclJwp6p13n4+CM8PvgEwzpE3GiJDWR5
        dBbm9BLI/CE2L4AhHvE5QKJ4iYIKKznXnDOMhixAnOALynEZYHLgCcZHLuIjF/8WNy3aivURXkGM
        IwsqEJFJGHNj7B7ezRNnnmTb+POcnDmJKVpsZHHBFDE+CIpGA7rzbGDnCdicppH6LioObzwePXsc
        3vSZKHACnKYszDq4Z9M9vK3lShYWFqHOkBlF8OH4iXDGj/HDww/zk6Efsz85xKgZh4JSbowwXvCS
        4UVyL+CCxj9b+JjjL37lgM2Zisqco6m5Rq+CvCklqXMqpx6TJSwyC7i6/Wp6oh5wGV5CDVPqIqRA
        VpvmB0ceY1v8HA1NRYq+AaMWJSWLgtqKjwCPNwleYhxp/n3z11cB86Lp10v6YVJN0kKTbwTvzjr7
        N51LRfAiODV0RV00m1Dk8NYixhKpzfshAqVoiVvobeshsiUiClhVhAzBISpYLRH7UF1XoOCLtBab
        37Slvw6AiaeuG6gPUCxpWkxfcRGa5QnJm0qCdZ+nxuOyiOUNq2k0DeH3vu708lJbft+iqXBR6wYq
        1SIZhJSpXlLzFshQqeVKt9IVdbC4qe/s9803YLPNRcocRcDN+Yue83bOxYBifZCaM1W6Cgu4ouNS
        bM3iJEHEgjGh0c5kIA7jwaeeRb6Xty+8FohRcYjUE+bQOFBPgUThsgVbWGp7kaqixuCBVCCLwn0F
        Qa1Dq8plrZeyqLg436z5K+LOAvZLzCcPMfUwU+dROZea5do5qcxTIauGm/tuYV1pPRO1GTKbBWtQ
        A17IjFAVg0xEvLvnXWxq3RBoW4Ao/2Yh0lDv9OLBw9qGDdzS926KU0LiUrwIsebR2Uc4A7VqlZV2
        Db+x+DYKWsqZ3AU4kqKKqM8XDT5vblPJWwGCNBAkGp3LSfOU2IAYwWroIllRXsPd6+5hE1vIJhOq
        WZXUezTzuGmHjAi3dN3CR1d8mKIr5gYc5UVYnd0vAYzJcMZj1XL7stu5tfsOZCpiKh0jy6qQemay
        lOp0wqp0DXev/V02Nl6UF6Xq5bv5Ayw01M2p9s+p64Bk+Tt7LqGSWVo/O7T+ISU4fGvZM/kq3zp8
        PztHdzLmRhCBnqiXazrfzh0r30+XWRgq4NYGcDT0uNaPokVBHV5toBnGcsZP8ODR7/Dk4GOcSAZw
        XmkyzWxu2sRtS2/jktbLiFIf4oWJ8mOuzFcWKKqqWj8Ks7yprje5XAiW0Gwrdbuyee3vTUMVZ3ye
        S1qwMMkUJ6f6GU5OIcbQW+qjt9iDpUDqHSIZVnLnLYHUBscaRELN98dJoA+RWDwwkJzkRO0oicto
        jdtYUumlUVoD4dUMEY8S50uZZ8DQQDSdmFBwP0uqwgTEI96c0ypaP6wBwLweqKHS7THYs5nSuSPv
        DfEy2yCAkUBLgqyc5fL0nJ6I2SwnxSl4iYP6P/fe3uOEvAdNMfg80tp5VRiisPjg4CMEL3DGj+Jd
        RsU2UJQYVXDG4bzDqFDP1EJ3X+BU9ZUFsB01SQI5VSXWImoMGSleEzKBAgVKWsCJmXUFedM5Lpdy
        rIGqH2MyqRGbMq1RQxAhHTiTIhhELKJBaUVMHiwkb0IJFU9VDXPVet+3ngO2/D/o/QEwyTASM601
        fnz0Bzx++lmGq6dZE63g7ot+mwXlBfz41E944sRPECMskT7uWnsXXXFH6IeQOBiOhImcqg1w375v
        MJqdoEwzH13/cUoS8dW9X2aUESpZOx9c/iHWt60OwUZDmh0WFeqLNZOxbegnPHH8cY7UTtMSNXBj
        13W8e8nNVKigGuHnKCWiBuNzWzI+D0wSrFjBG09NPIISecVqhIjBawbYWdBCXHXkTjBI3nMaDyK8
        YsQyxRR/e+Dv+ebRrzFdHKWWzVCrjoEqCSkP93+fH40+iolgg2xkq95Cl+kK7eDehy8XD1h2Du3i
        GyfvZ7IyTGvWwQ36PkZHB7l/6NvMFKt0Vhdzw5J3sp7VQZEQP9syJapExvL40JP8+at/xpAZwtuM
        TGu8uG87qThuX3InVnMrV4tKyGHDowImUBglBC0V1Fh2ntnJw8e/T2yFDy59P8saV+PVY0VgtonF
        5sGuXpXi7P958DCIgBj+6dRPeeDofYy2jVAyDSzNlnJp10W0Vdo4NLWfQ9XXKDcYyiXBxVVm/HS+
        mXbWmdQVgv60n6Q8gVSKFMslnIyze/xlkrIjLhUplAo0xKX6eQhVJeKwj8YymJ7im4fupb90jKa4
        gT7ppUwbU77K/oEDOCcYsTkpzumHmLyhjtmEVSQKT40A24Z/ytePf4UfDj5KalIMghUDYsFYRCLI
        u40QO9voF54mCf1tAJGijGYjPHLiUUYKo7RMN3NH251s3bCVzriFmAI/H9vBsB+kXOxA/QzVasJk
        Oj3r6L1xOIFILRkpx2onUaN06AIqvsyZ2hkOjB+iYCqYzNBuWnGk7BjeQaIJa5vWEMUxe87sRVXZ
        XdvDvvQNYom4ovFS7lz+W2w7+DwruxdwWc/biK1lODvDC8M/YyyZoK/cw+aOy2nUCqkZ5edndrN/
        6hDNhUYua92MV8Pe2l4KTYZSscyBsUOsrmzg2PQRto9sx+HZ3LyJVU3ryETZN7aH09VTLG5azIxL
        0VrKRR2bQCIiEeHQ9GH2TexG4oxlZikfWnk7K4prAahpwvah7Uy7lI3l5ZyaOUEtiM05XiH8Gzwi
        jrHsDAfGD1KyFfqKC5isTbB75nUOp/10VToZnRqhaC27p/bw7d0PMEOVT1/8KaoyzZ+++Fk6Sx1U
        WovMxFUK041c1XoVVzRtYcmmxbTYAo20MpQO8dndf8FTpx6nJp5maeLfLP8Y/27lv+ehY4/xxb1f
        YlAGiGpFfm/df2JCpvmnwZ9SaWrkZO00Pz39Mq3lFr742t/wSrYbRVjhV/Gpiz7Bms61fH7Pl9g5
        +SKbFmzgzOkRblt2K5s7LyGn19A/fYIJO0rkM9a2rGVBsQf1GSIRB6eOsG/qDQqFBjaWlzI+fZIh
        U6XqQ9NtCEaCzXvxT9ZGOZkO0V7sore4kNfsMDsnXqFqMja1ruD5iZ/RWG6iNWph3I4wEyfM+Bov
        Db/Eieg4m3vW4cSTTkzRW+ijXG7gz3f9Kf3ZSWrqeHf3TYwkYzxy+mFWta/mbT3X8FD/Qzw68BAb
        F6zn4RM/pr94nC0dW+iY7Kax0MiRiSPMRDMUojJaTYkrnvuPfpsd2Q6aS51ERLxW28N3jj7Ehxs/
        Qr/0M9E4yrap7RRmhAWlnvw0+QDY4MwQVTK8xnQUu2mkGchA4OXR7ZxIBljUsJh1zRvZdno76lOq
        yTT7J/fx5KkncFFGXC3wlu6r6PdnGKkNsqawhk7byYyv8sbYG6yyK1kU9+LU0xa3s6zUS2OpTNVW
        2Z/sZtfkz1kQd3JF81U8d+xZ1DuayxW8rfDs6Rc4Hh0kw7Kg2sHg5CBZwbCkcRnrG9bxhDRzOjvN
        /tE9TLtxLJal8VJ+55K7aaGJhkLMM6OPM1gbZWvntaxsXspXB5/G2gLvXXgLSsLXj3+Lw26AQ5P9
        eJkmUmGZXcltG25hS8vFucYXHtMgSWukgEpEKknujCNmNOHlsZ1M2yptlXamrTKlYMWjkfL44FN8
        dv9ncc2eykiFuBgRFS2JjtNhm2m2LdQ0Y6Y2zvKOXpgSqq6GlQKdlV56yl0MzgyxbWIHb6THuLLx
        CjY3XMKj6aNkkVDwMWuLy7lh8Y18c+gfaJaIssRM+hEKxRL7hl5jqP8kNrYssivY2LqZkeok+w/v
        5+kTz9Djerln3d2sa11BgzYT12a4esl1lFyR0WSItqid69q28vrEq0SJJWt0nKydYtpPQhbxkVUf
        5EPdHwTvcJohEgfAGm0FI0oaOV4f38ve6hssi/s4OnOUPWNvEJcs+2r7OHbgONNmDBMro+k4aVZj
        QWkB1hqKhQaabQd7J/eQqmdJy2Iaomac91R8hVXNazg40k/mHE2FEg1RO022Fecy9o0fwHvl+p53
        0FfqxpgIzQpMa4IpeToqjUiW0hp30F7oZbT2Ikbhfctv49LmLRxNTtBmF7CqcR29K3qZ9lM8cPq7
        3DtwL1ctvALvMobTYaJIWFjoZWjiBE4SGmyBsrUcHj+Il4y2QhOpq5IkCS20srq4Mk9OBCOhkygC
        6G1ZSFN/kdFywu7kVf5ox6d4X/dNtDS3MeT7iY0gU5DKNL5SY0aV02NneP+S27i650owUMoakCji
        gdcfxIihM+6mTBnvE5rjNlZU1rJr9CAZSoMp0ESF2DeTiSOzE6w267mq/e20xm0sqnTz4tiLDMsw
        f7n3sxydOUTVVlkULeHipi38SB/Fa0Yxbufo1BAPvfE9ruq4kgZT4MjQQTZ3b+Lp6ac5On2YE7Uh
        0jRh0ozTZbtYWOxiYmoSKDIeTfPwyQfZUd2Gjyyro1Wo90y5GRYXu2gwTf8c01c2tG5kU/ESnpx4
        mmppnJ3paZYl3URDZYZrg/RKH7+3+hOMVk/zpSNfZiYbo5ZM0VdeQh9LZm/2yuQuDo0douwrLGlY
        wpnJAapTk/S0b6Kr3M3IzCAuFSKpECH0lLsxUxZfy7i2+xqWFINK+pbOK3lq+CnOpCP8bOQ5EgNt
        aTs3L7+RK5svYU20gkNT+/jqob8jcTNMTo/zzsXXs3toJ194/X/TeKqDMR2hN+llcbmXF6a2U63O
        0N7QTHOpxLrONSw7soq9tdd4aOhRZphiiS7j8va38L1jP2C8WqOrpZuupgW/oD9G3nt6oj7uWf+7
        FA+UeXXydXqMZXnDagZHhthS3MKWlku5rfs29o/tZ8fAy4zEZ+gsdpGRYH2BVByRGLIsYX1xNcWo
        yPKGxdhayiWlS7mx8110xa0sjhbylsrlLC0sA2BRcztyImOhLOSdXdeGQKQZN3VvZah6mkdOPsJ0
        WqWz0MGtK27h5p5bqdDAh1f/JsnehD1Tb1CKi3xgxUe5bfEd7Dj1Ehs6N9M/c4QV8QruWHk7G1s2
        8srQTi4tX8rFjVtosM30NrTyH1d+jPuOfo1TyTCdsowPr/xNtrRv4dljz3JV5RIuK11Ck6mgTvPy
        YV6D995r6LlSJvw4/TNDWPW0lztI1JHiaJYKrdJCjZQxP0qGpyQlWqUBkSikRKokfpoxP4aRmOao
        Fe88E36MsmmkwRQZ8SOkPqHJtCAm5o9f/zQPnHiAu3o/wB+v/zRWCyRklCQmI+X4zEGm0oTWUivd
        hW6sxnh1YIRRN8bJqVPYCJZWllKmTErCmWyEoZkhmuNm+kqLECxj2TAzVClKE02miQhBRBmo9TOU
        jNJeaGZRsZcMZTQbJdOEsinTbFpDujYnOQ/yjgNvstDMVh9vLue5kNSefTqduvYTiiGaP/gyK/84
        5JwHHs693zOnt/EHL/0BmdT4H5f8CTd23IjzihPF5hlbUO7N2a8P9bRZlWR2GoDR/OzMnZ/62exv
        9lfO400uP829VMETnmmqJ+E6p34+x4eFDxoEJUPzbio7J/HUejFR0jwhDQ+1B7ByWVmDNFQvkIjU
        m0dMXuUxs4KgF0+SVHlH21tZ2ryYy1svRV0o1oWOHYeqkIlgVDECtq4g1J8K1yCthxpDPhcfaqIY
        yUt7YVXqCH1p4pA8Pwx5o8559DBoc3jI8pzU/jOyzznPfNffzjVBVZ3z8zkC9pzxr1WX53RgqJLi
        UXGhaRiD0/BkSLBw+SXtqLmWdc585lrILwr356zjX5nh/+34Py6quWDj43bkAAAAJXRFWHRkYXRl
        OmNyZWF0ZQAyMDI0LTA5LTExVDA3OjU5OjU1KzAwOjAwTVmS7gAAACV0RVh0ZGF0ZTptb2RpZnkA
        MjAyNC0wOS0xMVQwNzo1OTo1NSswMDowMDwEKlIAAAAZdEVYdFNvZnR3YXJlAE1pY3Jvc29mdCBP
        ZmZpY2V/7TVxAAAAAElFTkSuQmCC`
    )